header {
    padding: 20px 25px;

    .main__nav {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;

        .nav__links {
            display: flex;
            justify-content: center;
            align-items: center;

            ul {
                display: flex;
                justify-content: space-between;
                list-style: none;

                li {
                    margin: 0 15px;
                    a{
                        text-decoration: none;
                    }

                }

            }
        }
    }

}