.hero__about {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-right: auto;
    margin-left: 200px;
    
    .profile__image {
        width: 150px;
        height:150px;
        overflow: hidden;
        border-radius: 50%;
        border: 2px solid #3a4042;
        
        img {
            width: 150px;
        }
    }



    h1 {
        font-size: 32px;
    }
    p {
        max-width: 550px;
    }
}