.hero__about {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-bottom: 200px;
    
    h1 {
        font-size: 3rem;
    }
    p {
        max-width: 450px;
    }
}